{% extends 'base.html' %} {% block title %} Vidownload {% endblock title %} {%
block content %}
<form
  method="POST"
  style="margin: 200px auto 0 auto; width: 60%"
  action="/video"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      name="videourl"
      placeholder="Video url'i girin"
      aria-label="Video url'i girin"
      aria-describedby="button-addon2"
    />
    <button class="btn btn-success" type="submit" id="search">Ara</button>
  </div>
</form>
{% endblock content %}
